<strong>Olá {{ student }}!</strong>
<p>
  Sua questão foi enviada para nossa equipe e será respondida em breve.</br>
  Ela gerou um numero este numero de registro <strong>{{ idHelpOrder }}.
</p><br><br>
<strong><h3>Obrigado pelo seu contato!</h3></strong>


